@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600&family=Roboto:wght@400;500;600;700&display=swap');

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

* {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, .site-title {
    font-family: 'EB Garamond', serif;
}


/* Navbar */
.navbar {
    background-color: #f3fff1;
    border-bottom: 2px solid #d4edda;
}

.navbar-brand {
    font-size: 1.8rem;
    font-family: 'EB Garamond', sans-serif;
    font-weight: 700;
    color: #2d6a4f !important;
    display: flex-start;
    align-items: center;
}

.nav-link {
    color: #3e503c !important;
    font-weight: 500;
    transition: color 0.2s ease-in-out;
}

.nav-link:hover {
    color: #1b4332 !important;
}

.dropdown-menu {
    background-color: #e6f4ea;
}

.dropdown-item:hover {
    background-color: #cfead7;
    color: #1b4332;
}

.btn-outline-success {
    border-color: #2d6a4f;
    color: #2d6a4f;
}

.btn-outline-success:hover {
    background-color: #488c6e;
    color: white;
}

.btn-outline-secondary:hover {
    background-color: #c7cac9;
    color: white;
}

.form-control:focus {
    border-color: #198754;
    box-shadow: 0 0 0 0.2rem rgba(25, 135, 84, 0.25);
}

/* Logo */
.logo-img {
    width: 90px;
    height: auto;
    margin-right: 10px;
}

/* Hero Section */
.hero-section {
    background-image: url('/media/images/backgroundImg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    padding-top: 80px;
    position: relative;
    overflow: hidden;
}

.hero-section::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 0;
}

.hero-section .hero-content {
    position: relative;
    z-index: 1;
}

.scroll-arrow {
    display: inline-block;
    margin-top: 1.5rem;
    font-size: 2rem;
    color: #fff;
    opacity: 0;
    transform: translateY(10px);
    transition: transform 0.3s ease, opacity 0.3s ease;
}
  
.hero-content:hover .scroll-arrow {
    opacity: 1;
    transform: translateY(0);
}
  
.scroll-arrow:hover {
    transform: translateY(5px);
    color: #b8f2e6;
}



/* Footer */
.footer-icons {
    font-size: 0;
}

.font-icons i {
    font-size: 2rem;
    color: #198754;
}

.footer-icons a:hover {
    color: #198754;
  }

.footer-icons a {
    color: #2d6a4f;
    transition: color 0.2s ease-in-out;
}

     /* Mailchimp */
.refferal_badge {
    background-color: #198754;
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 93px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 8px;
}

/* Product */

.font {
    font-weight: 900;
    color: #0a0909;
    margin-bottom: 0;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Cart */

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.badge-success {
    background-color: #28a745;
    color: white;
    padding: 0.25em 0.6em;
    font-size: 0.8em;
    border-radius: 10px;
}

/* Toasts */

.message-container {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1100;
    width: 320px;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}


.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.cart-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Add Product Form */

input[type="checkbox"]:checked {
    background-color: green;
}

/* 404 Page */

body.error-404 {
    background: #f8f9fa url('https://plant-wise.s3.eu-north-1.amazonaws.com/media/images/404.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
}

.error-overlay {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 3rem;
    border-radius: 10px;
}

/* 500 Page */

body.error-500 {
    background: url('https://plant-wise.s3.eu-north-1.amazonaws.com/media/images/500.jpg') center center/cover no-repeat fixed;
    min-height: 100vh;
}

.error-overlay {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 3rem;
    border-radius: 10px;
}



/* Media Queries */

@media (max-width: 1200px) {
    .navbar .form-control {
        width: 50%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .btn-outline-success {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .nav-link {
        font-size: 14px;
    }
}
