{% extends 'base.html' %}
{% load static %}

{% block body_class %}error-500{% endblock %}

{% block content %}
<div class="container h-100 d-flex align-items-center justify-content-center">
    <div class="row">
        <div class="col text-center error-overlay">
            <h1 class="display-4 logo-font text-black">
                Houston, we have a problem... 🚀
            </h1>
            <p class="text-muted mt-3 display-6">
                Well, this is embarrassing. We’ve watered the servers, they should wake up soon! 💧💻
            </p>
            <a href="{% url 'home' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3 mt-3">
                Back Home
            </a>
        </div>
    </div>
</div>
{% endblock %}

