{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center card border-success m-3">
            <h2 class="mb-4">{% trans "Log Out" %}</h2>
            <p>{% trans "Are you sure you want to log out?" %}</p>
            <form method="POST" action="{% url 'account_logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger me-2 mb-3">{% trans "Log Out" %}</button>
                <a href="/" class="btn btn-secondary mb-3">{% trans "Cancel" %}</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
