{% extends "base.html" %}

{% load static %}

{% block content %}
<div id="delivery-banner" class="row text-center">
  <div class="col bg-black text-white">
    <h4 class="logo-font my-1">Free delivery on orders over ${{ free_delivery_threshold }}!</h4>
  </div>
</div>
<div class="container-sm my-5">
  <div class="row">
    {% for product in products %}
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4">
    <div class="card h-100 shadow-sm">
      <a href="{% url 'shop:product_detail' product.slug %}">
        <img src="{% if product.image %}{{ product.image.url }}{% else %}/media/products/default.jpg{% endif %}" 
        class="card-img-top  img-fluid product-img" 
        alt="{{ product.slug|default:'Product image' }}">
      </a>
      {% for deal in active_deals %}
        {% if deal.product.name == product.name %}
          <span class="badge bg-danger">
            {% if deal.deal_type == 'discount' %}
              {{ deal.value }}% OFF
            {% elif deal.deal_type == 'bogo' %}
              BOGO Deal!
            {% endif %}
          </span>
        {% endif %}
      {% endfor %}
      {% if request.user.is_staff %}
        <small class="card-img-top img-fluid w-50 mx-auto d-block rounded-2">
          <a class="text-success" href="{% url 'shop:edit_product' product.slug %}">Edit</a> | 
          <a class="text-danger" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal-products-{{ product.id }}">Delete</a>
        </small>

        <div class="modal fade" id="deleteModal-products-{{ product.id }}" tabindex="-1" aria-labelledby="deleteModalLabel-products-{{ product.id }}" aria-hidden="true">
          <div class="modal-dialog">
        <div class="modal-content rounded-3">
          <div class="modal-header bg-danger text-white">
            <h5 class="modal-title" id="deleteModalLabel-products-{{ product.id }}">Confirm Deletion</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete <strong>{{ product.name }}</strong>?
          </div>
          <div class="modal-footer">
            <a href="{% url 'shop:delete_product' product.slug %}" class="btn btn-success">Yes, I'm sure!</a>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
          </div>
        </div>
          </div>
        </div>
      {% endif %}

      <div class="card-body d-flex flex-column">
      <h5 class="card-title">{{ product.name }}</h5>
      <p class="card-text text-muted">{{ product.description|truncatechars:100 }}</p>
      <p class="fw-bold">${{ product.price }}</p>
      <a href="{% url 'shop:product_detail' product.slug %}" class="btn btn-success mt-auto">View Product</a>
      </div>
    </div>
    </div>
    {% empty %}
    <p>No products available.</p>
    
    {% endfor %}
  </div>
  </div>

{% endblock %}
